:root {
  --color-logo: #000000;
  --color-main: #ffffff;
  --hero-footer-bcg: #2f303a;
  --color-txt-main: #757575;
  --color-txt-basic: #212121;
  --font-basic: 'Raleway', sans-serif;
  --font-main: 'Roboto', sans-serif;
  --brand-color: #2196f3;
  --accent-color: #188ce8;
  --bcg-color: #f5f4fa;
  
  --icon-static-color: #AFB1B8;
  --count-cards: 3;
  --dst-between: 30px;
}

/* *==================================================* */
body {
  font-family: var(--font-main);
  font-size: 14px;
  
  background-color: var(--color-main);
  color: var(--color-txt-main);
  
}

.list {
  list-style: none;
  
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* *==================================================* */

/* * Containers * */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  
}

/* ******************* Studio page ******************* */

/* * Header section * */
.header{
  border-bottom: 1px solid #ececec;
}
.header__container {
  display: flex;
}
.header__logo {
  margin-right: 91px;
}
.header__nav {
  margin-left: auto;
}
.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
/* * Site navigation * */

/* logo */
.logo {
  color: var(--color-logo);
  font-family: var(--font-basic);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}
.logo--blue {
  color: var(--brand-color);
}

/* navigation list */
.nav {
  display: flex;
  align-items: center;
}
.nav__list {
  display: flex;
}
.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
}
.nav__item:not(:last-child) {
  position: relative;
  margin-right: 50px;
}
.nav__link {
  color: var(--color-txt-main);
  fill: var(--color-txt-main);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.nav__link:hover,
.nav__link:focus {
  color: var(--brand-color);
  fill: var(--brand-color);
}
.nav__link--current {
  color: var(--brand-color);
}
.active-page::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: inline-block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--brand-color);
}
.icon             
{
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon--start{
  margin-right: 10px;
}
.icon--end{
  margin-left: 10px;
}

/* * Main section * */

/* hero section  */
 .hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--hero-footer-bcg);
}
.title{
  color: var(--color-main);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  text-transform: uppercase;
}
.hero__title {
  margin-bottom: 30px;
}
.overlay{
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient( 
    to right, 
    rgba(47, 48, 58, 0.4), 
    rgba(47, 48, 58, 0.4)),
    url(../images/studio/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button {
  font-family: inherit;
  font-size: 16px;

  border: none;
  border-radius: 4px;

  text-align: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),  
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button {
  color: var(--color-main);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  padding: 10px 32px;

  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.hero__button:hover,
.hero__button:focus {
  cursor: pointer;
  background-color: var(--accent-color);
}

/* * Fetchers section * */

.section--truncation {
  padding-bottom: 0;
}
.fetchers__list {
  display: flex;
}
.fetchers__item::before{
  display: flex;
  content: "";
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
 
}
.fetchers__item:not(:last-child) {
  margin-right: 30px;
}
.fetchers__icons{
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
}

.fetchers__title {
  text-align: left;
  margin-bottom: 10px;

  color: var(--color-txt-basic);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
}

.fetchers__text {
  text-align: left;
  width: 270px;
  font-size: 14px;
  line-height: 1.7;
}

/* * What are we doing section * */

.section-title {
  margin-bottom: 50px;
  text-align: center;

  color: var(--color-txt-basic);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}
.skills {
  display: flex;
  justify-content: space-between;
}
.skills__item{
  position:relative;
}
.skills__text {
  display: flex;
  width: 370px;
  height: 70px;
  justify-content: center;
  align-items: center;
  position:absolute;
  bottom: 0;
  
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  
  background: rgba(47, 48, 58, 0.8);
}

/* * Our team section * */

.team {
  background-color: var(--bcg-color);
}
.team__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.team__card {
  background-color: var(--color-main);
  box-shadow: 
  0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  margin-bottom: 10px;

  color: var(--color-txt-basic);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team__text {
  margin-bottom: 16px;
  
  font-size: 16px;
  line-height: 1.2;
}

.social{
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child){
  margin-right: 10px;
}
.social__icon{
  width: 44px;
  height: 44px;

  fill: var(--icon-static-color);
  background-color: #ffffff;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),  
  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__icon:hover,
.social__icon:focus{
  background-color: var(--brand-color);
  fill: var(--color-main);
}

/* * Our clients section * */

.brand{
  display: flex;
  justify-content: center;
}

.brand__item:not(:last-child){
  margin-right: 30px;
}

.brand__link{
  width: 170px;
  height: 92px;
  
  fill:var(--icon-static-color);
  border: 1px solid var(--icon-static-color);
  border-radius: 4px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.brand__link:hover,
.brand__link:focus{
  fill:var(--brand-color);
  border-color:var(--brand-color);
  
}


/* ************************************************************************************** */
/* .button-portfolio {
  border: none;
  color: var(--color-txt-basic);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background-color: var(--bcg-color);
  border-radius: 4px;
  padding: 6px 22px;
  text-align: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),  
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

} 
.button-portfolio:hover,
.button-portfolio:focus {
  cursor: pointer;
  border: none;
  color: var(--color-main);
  background-color: var(--brand-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button-portfolio.current {
  background: var(--brand-color);
  color: var(--color-main);
}
*/






.modal-close-btn {       
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-top: 8px;
  margin-right: 8px;
  padding: 0;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--color-main);   
  fill:#000000;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill:var(--brand-color);
  cursor: pointer;
}
.modal-close-btn:hover .modal-close-icon{
  fill: var(--brand-color);
}

.modal-submit-btn{
  text-align: center; 
  width: 200px;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-main);
  border: none;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.modal-submit-btn:hover,
.modal-submit-btn:focus{
  background-color: var(--accent-color);
}

.footer-submit-btn{
  display: inline-flex;
  align-items: center;
  max-width: 200px;
  max-height: 50px;
  padding: 10px 28px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--color-main);

  border: none;
  background-color: var(--brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  fill: #FFFFFF;
}

.footer-submit-btn:hover,
.footer-submit-btn:focus{
  background-color: var(--accent-color);
}

.filters-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn-item:not(:last-child) {
  margin-right: 8px;
}
/* TODO DONE!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

/* ******************************************************************** */
/* ******************************************************************** */
/* ******************************************************************** */



/* * Модальное окно * */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2); 

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 528px;
  height: 581px;

  background-color: var(--color-main);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  
}



.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;    
}

.modal-close-icon {   
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.form-title{
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-txt-basic);

  margin-bottom: 12px;
}

.form-container{
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
}
.form-checkbox-contract {
  color: var(--brand-color);   
}

.modal-input{
  text-align: center;
}
.modal-input-pos{
  position: relative;
}

.modal-form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal-form-label:not(:last-child) {        
  margin-bottom: 20px;
}

.list-pos{
  margin-bottom: 20px;
}
.modal-form-input {
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 448px;
  height: 40px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;    
  background-color: transparent;
  outline: transparent;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-label:hover .modal-form-input,
.modal-form-label:focus .modal-form-input,
.modal-form-label:hover .modal-form-icon,
.modal-form-label:focus .modal-form-icon {
    fill: var(--brand-color);
    border-color: var(--brand-color);
}

.modal-form-icon {
  position: absolute;
  top: 0;
  left: 0;

  transform: translateY(calc(58px / 2));
  margin-left: 12px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-name{
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;    
  letter-spacing: 0.01em;

  color: var(--color-txt-main);
}
.form-comment {
  padding-right: 16px;
  padding-left: 16px;
  height: 120px;
  resize: none;
}
.form-comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox-input:not(:checked) + .form-checkbox-icon.empty {
  opacity: 1;
}

.form-checkbox-input:checked ~ .form-checkbox-icon.agree {
  opacity: 1;
}
.form-checkbox-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;     
  margin-left: calc(54px - 41px);   
}

.form-checkbox-icon.empty {    
  position: absolute;  
  left: 0; 

  opacity: 0;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-icon.agree {
  position: absolute;  
  left: 0; 

  opacity: 0;
  fill: var(--color-main);
  background-color: var(--brand-color);
  border-radius: 2px;       
  
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox-agreement {
  margin-left: calc(7px + 13px);
  font-size: 14px;
  line-height: 1.71;        
  letter-spacing: 0.03em;    
  color: var(--color-txt-main);
}

.modal-checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

/* ******************************************************************** */
/* ******************************************************************** */
/* ******************************************************************** */
/* *Footer section* */
.footer {
  background-color: var(--hero-footer-bcg);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container{
  display: flex;
  align-items: baseline;
}

/* logo */
.footer__logo {
  margin-bottom: 20px;
}
.logo--white {
  color: var(--color-main);
}

/* Address */
.address{
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
}
.address__list {
  color: rgba(255, 255, 255, 0.6);
}
.address__item {
  margin-bottom: 9px;
}
.address__txt {
  color: var(--color-main);
}
/* UNDONE ============================================================= */
.footer-social{
  margin-left: 70px;
}
.footer-social__title{
  color: var(--color-main);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.footer-social__list{
  display: flex; 
}
.footer-social__item:not(:last-child){
  margin-right: 10px;
}

.subscribe{
    margin-left: auto;
}

.subscribe-title {
  display: block;
  margin-bottom: 20px;    
  
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color:var(--color-main);
}

.social__icon--greey{
  fill: var(--color-main);
  background-color:  rgba(255, 255, 255, 0.1);
}

.social__icon--greey:hover,
.social__icon--greey:focus{
  background-color: var(--brand-color);
} 



.subscribe-input{
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  /* flex-grow: 2; */
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-input::placeholder {  
  font-size: 16px;
  line-height: 1.25;   
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:hover,
.subscribe-input:focus {    
    color: var(--color-main);
    border-color: var(--brand-color);
}




/* *==================================================* */

/* ************** Portfolio page ************** */

/* * Sort filters section * */

/* *Button* */





/* *Portfolio section* */
.portfolio {
  display: flex;
  flex-wrap: wrap;

  margin-left: -30px;
  margin-top: -30px;
}

.portfolio .portfolio-item:hover .portfolio-overlay {
  transform: translateY(0);
}
.portfolio .portfolio-item {    
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .table-item:focus,
.portfolio .table-item:hover {    
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio > .portfolio-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;

  text-align: left;
  background: var(--color-main);
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;

}

.portfolio-title-item {
  color: var(--color-txt-basic);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.portfolio-section-text {
  color: var(--color-txt-main);
  font-size: 16px;
  line-height: 1.9;
}

.portfolio-text {
  padding: 20px 24px;
}

.portfolio-title-item {
  margin-bottom: 4px;
  

}

.portfolio-item:hover,
.portfolio-item:focus{
  background: var(--color-main);
  border: 1px solid var(--color-main);
  box-shadow: 0px 1px 1px 
  rgba(0, 0, 0, 0.12), 0px 4px 4px 
  rgba(0, 0, 0, 0.06), 1px 4px 6px 
  rgba(0, 0, 0, 0.16);

}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  height: 294px;
  align-items: center;
  padding-top: 63px;
  padding-right: 24px;
  padding-bottom: 63px;
  padding-left: 24px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background-color: rgba(33, 150, 243, 0.9);
}

.portfolio-overlay-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--color-main);
}
.portfolio-img-card {
  position: relative;
  overflow: hidden;
}

/* ********************************************************************************** */
